<div class = "container">
  <div class = "row">
    <ng-container *ngFor = "let card of cards; let i = index">
    <div *ngIf = "card.status" class="card col-md-3 m-1" style="width: 18rem; background-color: rgb(0, 209, 0);">
      <div class="card-body d-flex flex-column align-items-center">
        <p>id - {{card.id}}</p>
        <h5 class="card-title">{{card.name}}</h5>
        <p (click) = "delete(i)" class="btn btn-primary align-self-center">Удалить</p>
      </div>
    </div>
    <div *ngIf = "!card.status" class="card col-md-3 m-1" style="width: 18rem; background-color: rgb(255, 43, 43);">
      <div class="card-body d-flex flex-column align-items-center">
        <p>id - {{card.id}}</p>
        <h5 class="card-title">{{card.name}}</h5>
        <p (click) = "delete(i)" class="btn btn-primary align-self-center">Удалить</p>
      </div>
    </div>
    </ng-container>
  </div>
  <div class = "row">
    <div class="d-flex  w-50 align-items-center">
      <p class="m-2">Название карточки:</p>
      <input type="text" name="name" id="name" #name class="form-control">
      <select name="type" id="type" #type class="form-control mx-2">
        <option value="1">Enabled</option>
        <option value="0">Disabled</option>
      </select>
      <button class="btn btn-primary align-self-center" (click) = "add(name.value, type.value)">Добавить</button>
    </div>
  </div>
</div>