<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <h1 *ngIf="!this.modal">{{ title }}</h1>
    </div>
  </div>
  <app-addform-worker (addWorker)="onAddWorker($event)" *ngIf="!this.modal"></app-addform-worker>
  <app-table-workers *ngIf="!this.modal" [title]="'Программисты'" [workers]="getByType(myWorkerType.programmer)"
    (editWorker)="onEditById($event)" (deleteWorker)="onDeleteById($event)"></app-table-workers>
  <app-table-workers *ngIf="!this.modal" [title]="'Дизайнеры'" [workers]="getByType(myWorkerType.designer)"
    (editWorker)="onEditById($event)" (deleteWorker)="onDeleteById($event)"></app-table-workers>
  <app-table-workers *ngIf="!this.modal" [title]="'Рекламщики'" [workers]="getByType(myWorkerType.copywriter)"
    (editWorker)="onEditById($event)" (deleteWorker)="onDeleteById($event)"></app-table-workers>
  <app-table-workers *ngIf="!this.modal" [title]="'Менеджеры'" [workers]="getByType(myWorkerType.manager)"
    (editWorker)="onEditById($event)" (deleteWorker)="onDeleteById($event)"></app-table-workers>

  <!-- Modal -->
  <div *ngIf="this.modal" [formGroup]="editForm" class="new-modal">
    <div class="new-modal__title d-flex flex-column align-items-center">
      <h3>Редактирование</h3>
    </div>
    <div class="new-modal__body">
      <input type="text" name="" formControlName="name" [(ngModel)]="name">
      <input type="text" name="" formControlName="surname" [(ngModel)]="surname">
      <input type="text" [textMask]="{mask: mask}" name="" formControlName="phone" [(ngModel)]="phone">
      <input type="hidden" formControlName="id" [(ngModel)]="id">
    </div>
    <div class="new-modal__footer d-flex justify-content-end mt-3">
      <button (click)="onClose()" class="modal-exit btn btn-outline-danger btn-sm mr-3">Выход</button>
      <button (click)="onEditData()" class="modal-accept btn btn-outline-primary btn-sm ">Применить</button>
    </div>
  </div>
</div>
