<div class="d-flex align-center justify-content-between">
  <p class="pr-5"><span class="fw-bold">Фамилия:</span> {{ info.surname }}</p>
  <p class="pr-5"><span class="fw-bold">Имя:</span> {{ info.name }}</p>
  <p class="pr-5"><span class="fw-bold">Отчество:</span> {{ info.lastname }}</p>
  <p class="pr-5"><span class="fw-bold">Возраст:</span> {{ getUserAge() }}</p>
  <p class="pr-5"><span class="fw-bold">Отдел:</span> {{ getNamePlace() }}</p>
  <button (click)="routeTo(info)" class="btn btn-outline-primary btn-sm rounded">
    Редактировать
  </button>
  <button (click)="deleteUser(info)" class="btn btn-outline-danger btn-sm rounded">
    Удалить
  </button>
</div>
